.note{
    word-spacing: 0.2rem;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    
}
.note a{
    text-decoration: none;
}

.note :hover{
    color : rgba(99,222,247,1);
}
